
<h2>Logowanie do systemu</h2>

<p>Aby zalogować się do systemu monitorowania kamer należy wybrać ekran "Logowanie"
  i podać nazwę użytkownika oraz hasło.</p>
<p>  Informacje te uzyskasz od administratora systemu pod. tel. 600 xxx yyy </p>
<hr style="border: 3px solid grey;width:80%">
<h2>Monitorowanie systemu</h2>
<p>Tabela wyświetla ostatnie 10 zdarzeń z wybranych przez operatora kamer.</p>
<p> Najnowsze zdarzenia są na górze</p>
<p>Tabela zawiera:</p>
   <ul class="list-unstyled">
    <li>nazwę kamery</li>
    <li>czas jaki upłynął od zdarzenia</li>
    <li>rodzaj zdarzenia</li>
    <li>klawisz do podglądu zdjęcia</li>
    <li>wskaźnik, które zdarzenie jest wyświetlane</li>
  </ul>
  <hr style="border: 3px solid grey;width:80%">
<h2>Ustawienie preferencji użytkownika</h2>

<p>Można wybrać kamery do podglądu z dostępnych</p>
<p>Można ustawić czułość systemu powiadomień w skali 1-10 </p>
<hr style="border: 3px solid grey;width:80%">
<h2>Raporty z systemu</h2>

<p>Jeśli masz uprawnienia, to możesz uzyskać dostęp do raportów z systemu dla wszystkich kamer i użytkowników</p>
<p>  Informacje te uzyskasz od administratora systemu pod. tel. 600 xxx yyy </p>
