<p>tabela works!</p>
<div class="row bg-primary">
  <div class="col-md-2"> <strong>Kamera</strong></div>
  <div class="col-md-2"> <strong>Czas</strong></div>
  <div class="col-md-3"> <strong>Zdarzenie</strong></div>
  <div class="col-md-3"> <strong>Akcja</strong></div>
  <div class="col-md-1"> <strong>Podgląd</strong></div>
  </div>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
