<p>tabela works!</p>
 <!-- [zdarzenieZtabeli]="TabelaZdarzen[0]" -->
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Kamera</th>
      <th>Czas</th>
      <th>Zdarzenie</th>
      <th>Akcja</th>
      <th>Znacznik</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">kamera {{numerKamery[0]}}</td>
      <td>{{czasJakiUplynal[0]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[0]]}}</td>
      <!-- <td><button type="button" class="btn btn-warning">Wyświetl</button></td> -->

      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[0]==0, 'btn-secondary': znacznikStyluKlawisza[0]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[0]">{{znacznik}}</span> </td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[1]}}</td>
      <td>{{czasJakiUplynal[1]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[1]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[1]==0, 'btn-secondary': znacznikStyluKlawisza[1]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[1]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[2]}}</td>
      <td>{{czasJakiUplynal[2]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[2]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[2]==0, 'btn-secondary': znacznikStyluKlawisza[2]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[2]">{{znacznik}}</span> </td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[3]}}</td>
      <td>{{czasJakiUplynal[3]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[3]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[3]==0, 'btn-secondary': znacznikStyluKlawisza[3]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[3]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[4]}}</td>
      <td>{{czasJakiUplynal[4]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[4]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[4]==0, 'btn-secondary': znacznikStyluKlawisza[4]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[4]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[5]}}</td>
      <td>{{czasJakiUplynal[5]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[5]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[5]==0, 'btn-secondary': znacznikStyluKlawisza[5]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[5]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[6]}}</td>
      <td>{{czasJakiUplynal[6]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[6]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[6]==0, 'btn-secondary': znacznikStyluKlawisza[6]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[6]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[7]}}</td>
      <td>{{czasJakiUplynal[7]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[7]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[7]==0, 'btn-secondary': znacznikStyluKlawisza[7]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[7]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[8]}}</td>
      <td>{{czasJakiUplynal[8]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[8]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[8]==0, 'btn-secondary': znacznikStyluKlawisza[8]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[8]">{{znacznik}}</span></td>
    </tr>
    <tr>
      <td scope="row">kamera {{numerKamery[9]}}</td>
      <td>{{czasJakiUplynal[9]}} sec</td>
      <td>{{alertTyp[tabela10Komunikatow[9]]}}</td>
      <td><button type="button" class=btn [ngClass]="{'btn-warning': znacznikStyluKlawisza[9]==0, 'btn-secondary': znacznikStyluKlawisza[9]==1}">Wyświetl</button></td>
      <td> <span *ngIf= "znacznikWyswietlania[9]">{{znacznik}}</span></td>
    </tr>

  </tbody>
</table>

<!-- <div class="row bg-primary">
  <div class="col-md-2"> <strong>Kamera</strong></div>
  <div class="col-md-2"> <strong>Czas</strong></div>
  <div class="col-md-3"> <strong>Zdarzenie</strong></div>
  <div class="col-md-3"> <strong>Akcja</strong></div>
  <div class="col-md-1"> <strong>Podgląd</strong></div>
  </div>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz>
  <app-wiersz> </app-wiersz> -->
