<h3>podglad works!</h3>
<!-- <p> kamera 1 - brak maseczki - 10 sek</p> -->
<p> Co przyszlo z Dashboard: {{eventD2P1linkDoZdjecia}}</p>
<div class="media">
    <!-- <img class="media-object" src="../../../assets/k5.jpg" class="img-responsive" alt="Cinque Terre" width="340" height="280"> -->
    <img class="media-object" src={{eventD2P1linkDoZdjecia}} class="img-responsive" alt="Cinque Terre" width="340" height="280">

  </div>
<hr>
<div class="container-fluid underlined">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-success btn-lg" (click)="ochroniarzPotwierdzil()">Potwierdzam</button>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-danger btn-lg" (click)="ochroniarzZaprzeczyl()">Zaprzeczam</button>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-success">Potwierdzam</button>
<button type="button" class="btn btn-danger">Zaprzeczam</button> -->


